<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <h1>마이페이지</h1>
    <a href="#" id="home">홈으로</a>
    
    <table>
        <tr>
            <td>ID</td>
            <td id="userid"></td>
        </tr>
        <tr>
            <td>PW</td>
            <td id="password"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td id="name"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button id="update">비밀번호수정</button>
                <button id="remove">회원탈퇴</button>
                <button id="logout">로그아웃</button>
            </td>
        </tr>
    </table>
    
    <script>
        document.getElementById('home').addEventListener('click', e=>{
            location.href='/'
        })
        document.getElementById('update').addEventListener('click', e => {
            location.href = '/move/users/update'
        })
        document.getElementById('logout').addEventListener('click', e => {
            sessionStorage.getItem('loginUserid', '')
            location.href = '/'
        })
        alert(`마이페이지로 넘어온 로그인 유저아이디는 ${sessionStorage.getItem('loginUserid')}`)
        $.getJSON(`/users/${sessionStorage.getItem('loginUserid')}`,d=>{
            document.getElementById('userid').innerHTML=d.loginUser.userid
            document.getElementById('password').innerHTML=d.loginUser.password
            document.getElementById('name').innerHTML=d.loginUser.name
        })
        document.getElementById('remove').addEventListener('click', e=>{
                $.ajax({
                    url: '/users',
                    type: 'DELETE',
                    data: JSON.stringify({
                        userid: sessionStorage.getItem('loginUserid')
                    }), 
                    dataType: 'json',
                    contentType: 'application/json',
                    success: d=>{
                        sessionStorage.getItem('loginUserid', '')
                        location.href= '/'
                    },
                    error: e=>{
                        alert(`회원탈퇴 실패 ${e}`)
                    }
                })
            })
    </script>
</body>
</html>